---
layout: default
title: Portfolio
permalink: /portfolio/
---
		<!-- Main -->
			<section id="main" class="wrapper style2">
				<div class="container">
					<div class="row">
						<div class="8u">
							<section>
								<h2>Projects</h2>
								<p>You may view my work experience on my <a href="https://ca.linkedin.com/in/mmartinescu" target="_blank">LinkedIn profile</a>. I have worked on
									several software projects, some of which can be found on my <a href="https://github.com/mikeym88/" target="_blank">GitHub page</a>. I have also worked on other types of projects (as seen in the sidebar), including a short documentary. </p>

								<p>I have previously worked as a Technical Writer. If you wish to see a portfolio of my technical writing, please <a href="{% link contact.html %}">contact me</a>.</p>
							</section>
						</div>
						<div class="4u">
							<section>
								<h3>Projects</h3>
								<ul class="alt">
									{% for project in site.data.projects %}
										<li>
											{% if project.website %}
												<a href="{{ project.website }}" target="_blank">{{ project.title }}</a>
											{% else if project.github %}
												<a href="{{ project.github }}" target="_blank">{{ project.title }}</a>
											{% else if project.youtube %}
												<a href="{{ project.youtube }}" target="_blank">{{ project.title }}</a>
											{% else %}
												{{ project.title }}
											{% endif %}
										</li>
									{% endfor %}
								</ul>
							</section>
						</div>
					</div>
					<hr class="major" />
                    {% assign counter = 0 %}
					{% for p in site.data.projects %}
                        {% assign newLine = counter | modulo: 3 %}
                        {% if newLine == 0 %}
                        {% if counter > 0%}</div>{% endif %}
						<div class="row">
						{% endif %}
							<div class="4u">
								<section class="special">
									<h3>{{ p.title }}</h3>
									<ul class="icons">
										{% if p.website %}
											<li><a href="{{ p.website }}" class="icon fa-link" target="_blank"></a></li>
										{% endif %}
										{% if p.github %}
											<li><a href="{{ p.github }}" class="icon fa-github" target="_blank"></a></li>
										{% endif %}
										{% if p.youtube %}
											<li><a href="{{ p.youtube }}" class="icon fa-youtube" target="_blank"></a></li>
										{% endif %}
									</ul>
									<p>{{ p.description }}</p>
								</section>
							</div>
                        {% assign listEnd = counter | modulo: 3 %}
						{% if forloop.last and listEnd > 0 %}
						</div>
						{% endif %}
                        {% assign counter = counter | plus: 1 %}
					{% endfor %}
				</div>
			</section>
